In [1]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
import pandas as pd

In [2]:
data = pd.read_csv('../Data_df/final_data_DP.csv')
data.head(2)

,industry,wr1,wr2,wr3,wr4,vol1,vol2,vol3,vol4,pe_ratio,...,profit_margin,free_cash_margin,volatility,cpi,interest_rate,unemployment_rate,sma,rsi,ema,label
0,Consumer Discretionary,-0.019375,0.042774,-0.009555,-0.007692,6230100,6996900,6377700,7026700,30.01,...,14.40,13.74,0.025251,241.428,0.40,5.0,56.240000,8.149406,56.300000,0
1,Utilities,0.025644,0.011924,-0.006826,0.031470,175800,195300,233900,221400,17.58,...,11.15,1.49,0.013118,238.132,0.36,5.0,73.803333,87.796610,73.714583,0

In [3]:
data_encoded = pd.get_dummies(data, columns=['industry'])
data_encoded = data_encoded.dropna()
data_encoded

,wr1,wr2,wr3,wr4,vol1,vol2,vol3,vol4,pe_ratio,debt_to_equity,...,industry_Consumer Staples,industry_Energy,industry_Finance,industry_Health Care,industry_Industrials,industry_Miscellaneous,industry_Real Estate,industry_Technology,industry_Telecommunications,industry_Utilities
0,-0.019375,0.042774,-0.009555,-0.007692,6230100,6996900,6377700,7026700,30.01,0.63,...,False,False,False,False,False,False,False,False,False,False
1,0.025644,0.011924,-0.006826,0.031470,175800,195300,233900,221400,17.58,0.85,...,False,False,False,False,False,False,False,False,False,True
2,0.057182,-0.004482,-0.040843,0.036994,1298900,3493600,571100,832500,62.13,0.60,...,False,False,False,False,False,False,True,False,False,False
3,-0.044857,0.062964,0.055392,-0.058078,1071300,880100,1080400,994800,6.68,0.36,...,False,False,False,False,True,False,False,False,False,False
4,0.022806,-0.021995,0.021842,-0.028000,6563300,6745100,9474700,10172500,10.28,1.35,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480,0.003835,0.116087,0.006430,0.019776,7664800,6601000,5447300,6911900,15.85,0.55,...,False,False,False,False,False,False,False,True,False,False
481,-0.006392,0.002918,-0.015773,-0.027340,1216800,1437600,1177900,2002900,11.71,-16.60,...,False,False,False,True,False,False,False,False,False,False
482,0.035572,-0.015410,-0.015177,-0.004942,23388500,10904900,7646100,7646100,5.63,1.71,...,False,False,False,False,False,False,False,False,False,False
483,0.006934,0.029712,-0.002174,0.087891,616500,855300,664000,765100,31.62,3.48,...,False,False,True,False,False,False,False,False,False,False
484,-0.091923,-0.005320,-0.060329,0.035899,4395300,4512100,3289400,4152500,23.46,0.02,...,False,False,False,False,False,False,False,True,False,False

In [4]:
y = data_encoded["label"]
target_names = ["increase", "decrease"]
X = data_encoded.drop('label', axis=1)

In [5]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [6]:
# Initialize the decision tree classifier into model variable
model = DecisionTreeClassifier()

In [7]:
# Train the model
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [8]:
# Make predictions on the test set
y_pred = model.predict(X_test)

In [9]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

In [10]:
print(f"Accuracy: {accuracy}")

Accuracy: 0.5

In [11]:
# Display classification report

print("Classification Report:\n", report)

Classification Report:
               precision    recall  f1-score   support

           0       0.48      0.47      0.48        59
           1       0.52      0.52      0.52        63

    accuracy                           0.50       122
   macro avg       0.50      0.50      0.50       122
weighted avg       0.50      0.50      0.50       122